.navbar{
    background-image: linear-gradient( to right, rgb(0, 0, 0), rgb(86, 142, 167), rgb(124, 182, 112));
    /* background-image: linear-gradient( to right, rgb(255, 60, 0), rgb(0, 0, 0)); */
    
  }
  .items {
      color: rgb(255, 255, 255);
      list-style: none;
      margin-right: 30px;
      font-size: 25px;
      font-weight: 400;
      padding: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: transform .3s;
      font-family: 'Kodchasan', sans-serif;
    }
    .items:hover {
      font-weight: 400;
      border: 0;
      color: rgb(46, 241, 255);
      transform: scale(1.1);
      text-decoration: none;
    }
    .item1{
      color: rgb(226, 215, 215);
      list-style: none;
      margin-right: 30px;
      font-size: 16px;
      font-weight: 400;
      padding: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: transform .3s;
      font-family: 'Kodchasan', sans-serif;
      display: flex;
      align-items: center;
    }
    .button{
      font-family: 'Kodchasan', sans-serif;
      font-size: 25px;
    }