.carousel{
    margin-top: -90px;
}
.quote{
    font-weight: 500;
    font-family: 'Kodchasan', sans-serif;
}
h3{
    font-weight: 400;
    font-family: 'Kodchasan', sans-serif;
}
h5{
    font-weight: 400;
    font-family: 'Kodchasan', sans-serif;
}